html {
	background-image: url("../img/light-blue-background.jpg");
	background-position: center;
}

body {
	margin: 0;
	padding: 0;
	font: 12px/20px "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", sans-serif;
	text-align: left;
    background-color: #ecedef;
    color: #6A797F;
	height: 100%;
	background-image: url("../img/light-blue-background.jpg");
	background-position: center;
}

/*---------------------------------
	elements
---------------------------------*/

a { color: #37404b; text-decoration: none; outline: none; }

img { border: none; }

hr {
	display:block;
    border: 0;
    height: 1px;
    background: #262b59;
    background-image: -webkit-linear-gradient(left, White, #262b59, White);
    background-image: -moz-linear-gradient(left, White, #262b59, White);
    background-image: -ms-linear-gradient(left, White, #262b59, White);
    background-image: -o-linear-gradient(left, White, #262b59, White);
}

h4 { color: #37404b; margin: 0 0 25px 0; text-transform: uppercase; }

h5 { color: #37404b; margin: 0 0 25px 0; text-transform: uppercase; font-size: 12px; }

.lastcol { margin-right: 0 !important; }

/*---------------------------------
	main layout
---------------------------------*/

#wrap {
	position: relative;
	margin: 22px auto 0 auto;
	padding: 0;
    width: 940px;
}

#leftcolumn  {
	position: relative;
	float: left;
	top: 8px;
	left: 0;
	margin: 0 25px 0 0;
	padding: 0;
	width: 420px;
}

#leftcol {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	margin: 0 40px 0 0;
	padding: 0;
	width: 580px;
}

#rightcol  {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 270px;
}

#rightcolumn {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 420px;
}

#homeContainer {
    position: relative;
    top: 11px;
    left: 15px;
    margin: 0 0 0 0;
    padding: 0;
    width: 880px;
    height: 850px;
    background-color: White;
}

#homeContent1 {
	padding: 0 0 0 0;
	width: 940px;
	height: 878px;
	margin: none;
	background-color: #262b59 !important; 
}

#float-container {
    position: relative;
    clear: both;
    overflow: hidden;
}

#widecolumn {
    position: relative;
    clear: both;
    overflow: hidden;
    top: 38px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 900px;
    min-height: 300px;
}

/*---------------------------------
	header
---------------------------------*/

#header {
	position: relative;
	margin: 0;
	height: 52px;
	text-transform: uppercase;
}

#logo_lnk {
    position: relative;
    top: 0;
	padding: 0;
    text-indent: -999px;
}

/*---------------------------------
	tabs
---------------------------------*/

#nav {
	width: 940px;
	margin: 15px 0 0 0;
}

#nav ul.tabs {
	position: relative;
	float: left;
	width: 940px;
	height: 20px;
	margin: 0;
	padding: 0;
}

#nav ul.tabs li {
	float: left;
	list-style: none;
    margin-right: 5px;
	height: 20px;
    padding: 5px 5px;
    background: #a2e0fc;
    font-size: 11pt;
}

#nav ul.tabs li a {
	color: #262b59;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
    height: 40px;
    padding: 10px;
}

#nav ul.tabs li a:hover {
	color: White;
}

#nav ul.tabs li.active {
    background: #262b59;
}

#nav ul.tabs li.active a,
#nav ul.tabs li.active a:hover,
#nav ul.tabs li.active:hover {
    color: #a2e0fc !important;
}

#nav #homeContent1 {
	position: relative;
	clear: both;
	top: 10px;
	width: 910px;
	margin: 0;
    background-color: White;
	overflow: hidden;
}

#inserts {
	width: 940px;
	margin: 15px 0 0 0;
}

#inserts ul.tabs {
	position: relative;
	float: left;
	width: 940px;
	height: 20px;
	margin: 0;
	padding: 0;
}

#inserts ul.tabs li {
	float: left;
	list-style: none;
	height: 20px;
	padding: 5px 15px;
    background: #eeedec;
	cursor: pointer;
}

#inserts ul.tabs li.active {
    background: #fff;
    border-left: 1px solid #f6f6f5;
    border-top: 1px solid #f6f6f5;
    border-right: 1px solid #f6f6f5;
}

#inserts ul.tabs li a {
	color: #6A797F;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

#inserts ul.tabs li.active a,
#inserts ul.tabs li.active a:hover,
#inserts ul.tabs li.active:hover {
    color: #006598 !important;
    /*   color: #006598 !important;*/
}

#inserts ul.tabs li:hover a,
#inserts ul.tabs li a:hover {
	color: #37404b;
}

#inserts #bottom-content {
	position: relative;
	clear: both;
	top: 10px;
	width: 910px;
	padding: 15px;
	min-height: 200px;
    background: transparent url(./img/bg_gradient.png) top left repeat-x;
	overflow: hidden;
	line-height: 24px;
}

/*---------------------------------
	homepage
---------------------------------*/

#homeContent2 {
    position: relative;
    top: 10px;
    left: 0;
    height: 475px;
    margin: 0 0 0 0;
    color: #262b59;
    }
    
#homeContent2 {
	padding-top: 20px;
	text-align: center;
	font-size: 220%;
}

#givesback {
	color: #a2e0fc;
	font-size: 150%;
	-webkit-text-stroke: .1px #262b59;
}
 
#biglogo {
	width: 50%;
	padding-left: 30px;
}    
    
#tabs li {
  float: left;
  cursor:pointer;
  padding:5px 15px 5px 15px;
}
#tabs li.active {
  border-color:#efeeee;
  border-style: solid solid none;
  border-width:1px;
  background:#fff;
}

#tabs{
  list-style:none;
  position:absolute;
  font-size:12px;
  left:125px;
  top:-17px;
}

#announcements p {
	padding-left: 20px;
	padding-right: 20px;
}

#announcementtitle {
	color: #a2e0fc;
	text-align: left;
	font-size: 135%;
	-webkit-text-stroke: .1px #262b59;
}

#announcementinfo {
	color: #262b59;
	font-size: 115%;
	line-height: 100%; 
	padding-bottom: 20px;
	text-align: center;
}

form {
	float: left;
	padding-left: 20px;
	padding-bottom: 40px;
}

label {
	font-size: 80%;
}

#leaderlogin {
	font-size: 105%;
	padding-bottom: 10px;
	float: left;
	padding-left: 20px;
	margin-bottom: 10px;
}

/*---------------------------------
	siteleader page
---------------------------------*/

#siteLeaderContent1 {
	padding: 0 0 0 0;
	width: 940px;
	height: 700px;
	margin: none;
	background-color: #262b59 !important; 
}

#siteLeaderContainer {
	position: relative;
	bottom: 25px;
    left: 15px;
    margin: 0 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 839px;
    height: 675px;
    background-color: White;
}

#siteLeaderContent2 {
	position: relative;
    top: 40px;
    left: 0;
    height: 910px;
    margin: 0 0 0 0;
    color: #262b59;
}

#nav #siteLeaderContent1 {
	position: relative;
	clear: both;
	top: 10px;
	width: 910px;
	margin: 0;
    background-color: White;
	overflow: hidden;
}

/*---------------------------------
	AboutUs page
---------------------------------*/

#aboutUsContent1 {
	padding: 0 0 0 0;
	width: 940px;
	height: 795px;
	margin: none;
	background-color: #262b59 !important; 
}

#aboutUsContainer {
	position: relative;
	bottom: 14px;
    left: 15px;
    margin: 0 0 0 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 839px;
    height: 770px;
    background-color: White;
}

#aboutUsContent2 {
	position: relative;
    top: 40px;
    left: 0;
    height: 910px;
    margin: 0 0 0 0;
    color: #262b59;
}

#nav #aboutUsContent1 {
	position: relative;
	clear: both;
	top: 10px;
	width: 910px;
	margin: 0;
    background-color: White;
	overflow: hidden;
}

#about1kayplus {
	padding-left: 20px;
	padding-right: 20px;
	color: #262b59;
	padding-top: 20px;
	}
	
#poster img {
	width: 40%;
	float: right;
	padding-left: 10px;
	padding-top: 0px;
}

#titles {
	color: #a2e0fc;
	font-size: 210%;
	-webkit-text-stroke: .1px #262b59;
}

ol {
	list-style-type: none;
	padding-left: 0px;
}

#info {
	font-size: 120%;
}

/*---------------------------------
	volunteer page
---------------------------------*/

#volunteerContent1 {
	padding: 0 0 0 0;
	width: 940px;
	/* height: 905px; */
	height: 4248px;
	margin: none;
	background-color: #262b59 !important; 
}

#volunteerContainer {
	position: relative;
	bottom: 25px;
    left: 15px;
    margin: 0 0 0 0;
    padding: 0;
    width: 880px;
    height: 4220px;
    background-color: White;
}

#volunteerContent2 {
	position: relative;
    top: 40px;
    left: 0;
    height: 830px;
    height: 910px;
    margin: 0 0 0 0;
    color: #262b59;
}

#volunteerContent2 p {
	font-size: 300%;
}

#nav #volunteerContent1 {
	position: relative;
	clear: both;
	top: 10px;
	width: 910px;
	margin: 0;
    background-color: White;
	overflow: hidden;
}

#alumni p {
	font-size: 220%;
	line-height: 120%;
	text-align: center;
}

#alumni a {
	font-size: 120%;
	color: #a2e0fc;
	-webkit-text-stroke: 1.5px #262b59;
}

#alumni a:hover {
	font-size: 120%;
	color: #262b59;
	-webkit-text-stroke: 1.5px #a2e0fc;
}

#projects {
	padding-left: 20px;
	padding-right: 20px;
	color: #262b59;
	}
	
.siteTitle {
	color: #262b59;
	font-size: 180%;
	-webkit-text-stroke: .1px #a2e0fc;
}

#sitesAvailability {
	color: #262b59;
	font-size: 210% !important; 
}

.description, .time, .register, .capacity, .answer {
	font-size: 120%;
	padding-top: 10px;
}

#volunteerPic {
	width: 65%;
	padding-left: 150px;
}

.register a {
	color: #262b59;
	-webkit-text-stroke: .1px #a2e0fc;
}

.register a:hover {
	color: #a2e0fc;
	-webkit-text-stroke: .1px #262b59;
}

.register {
	font-size: 160%;
}

#unavailable {
	font-size: 300%;
	-webkit-text-stroke: .2px #a2e0fc;
	text-align: center;
	padding-top: 100px;
}

/*---------------------------------
	faq page
---------------------------------*/

.question {
	font-style: italic; 
	font-size: 130%;
}

.answer {
	font-size: 120%;
}

#pageTitle {
	text-align: center;
	color: #a2e0fc;
	-webkit-text-stroke: .1px #262b59;
}

#faqContent1 {
	padding: 0 0 0 0;
	width: 940px;
	height: 1065px;
	margin: none;
	background-color: #262b59 !important; 
}

#faqContainer {
	position: relative;
    bottom: 25px;
    left: 15px;
    margin: 0 0 0 0;
    padding: 0;
    width: 880px;
    height: 1040px;
    background-color: White;
}

#faqContent2 {
	position: relative;
    top: 0;
    left: 0;
    height: 475px;
    margin: 0 0 0 0;
    color: #262b59;
}

#faqContent2 p {
	padding-top: 40px;
	text-align: center;
	font-size: 300%;
	
}

#nav #faqContent1 {
	position: relative;
	clear: both;
	top: 10px;
	width: 910px;
	margin: 0;
    background-color: White;
	overflow: hidden;
}

#faqs {
	padding-left: 20px;
	padding-right: 20px;
	}

#link {
	color: #a2e0fc;
}

	
/*---------------------------------
	footer
---------------------------------*/

#footer {
    position: relative;
    top: 100px;
    color: #262b59;
    font-size: 10px;
    }

#footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }

#footer li {
    float: left;
    padding-right: 10px;
    }

#footer li a {
    color: #6A797F;
    }

#footer li a:hover {
    color: #37404b;
}

#footer .icons {
    float: right;
    margin-right: 15px;
}

#footer .icons img {
    margin: 3px -2px 0 0;
}

#copyright {
	font-size: 150%;
	padding-top: 10px;
{